body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#linearBg2 {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5F2F7), to(#FEFFFF));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #FEFFFF, #E5F2F7);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #FEFFFF, #E5F2F7);

  /* IE 10 */
  background: -ms-linear-gradient(top, #FEFFFF, #E5F2F7);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #FEFFFF, #E5F2F7);
}




p, h1, form, button {
    border: 0;
    margin: 0;
    padding: 0;
}

.spacer {
    clear: both;
    height: 1px;
}

/* ----------- My Form ----------- */
.myform {
    margin: 0;
    width: 286px;
    padding: 5px;
}

/* ----------- stylized ----------- */
#stylized {
    border: solid 2px #b7ddf2;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5F2F7), to(#FEFFFF));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #FEFFFF, #E5F2F7);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #FEFFFF, #E5F2F7);

  /* IE 10 */
  background: -ms-linear-gradient(top, #FEFFFF, #E5F2F7);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #FEFFFF, #E5F2F7);

    /*background: #ebf4fb;*/
}

#stylized h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

#stylized p {
    font-size: 11px;
    color: #666666;
    margin-bottom: 20px;
    border-bottom: solid 1px #b7ddf2;
    padding-bottom: 10px;
}

#stylized label {
    display: block;
    font-weight: bold;
    text-align: right;
    width: 50px;
    float: left;
}

#stylized .small {
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 140px;
}

#stylized input {

    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 260px;
    margin: 2px 0 20px 10px;
}

#stylized button {
    clear: both;
    margin-left: 220px;
    width: 48px;
    height:24px;
    background: #666666 url(/mashlet/chatter-post/share.png) no-repeat;
    text-align: left;
    line-height: 31px;
    font-size: 11px;
    font-weight: bold;
}

 #stylized button:hover{
    border:1px solid #c2e1ef;
}
